@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* ===== GLOBAL RESET ===== */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
  
    font-family: var(--font-jakarta-Regular), sans-serif !important;
    @apply bg-white dark:bg-Dark_primary transition-colors duration-300;
  }
}

/* ===== EXTRA COMPONENT STYLES ===== */
@layer components {
  .react-datepicker-wrapper {
    width: 100%;
  }

  @keyframes pulse-spotlight {
    0%, 100% {
      opacity: 1;
      filter: brightness(1);
    }
    50% {
      opacity: 0.4;
      filter: brightness(1.5) blur(10px);
    }
  }

  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.4s ease;
  }
}
.filter-effect {
	-webkit-filter: grayscale(0.9) sepia(0.1);
	        filter: grayscale(0.9) sepia(0.1);
}
/* ===== THEME VARIABLES (TAILWIND v4) ===== */
@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;

  /* Colors */
  --color-primary: #78c841;
  --color-secondary: #4fa317ff;
  --color-Light_primary: #e2fad17c;
  --color-Dark_primary: #01140eff;
  --color-Dark_primary2: rgba(4, 56, 39, 0.34);
  /* --color-primary: #db3e00;
  --color-secondary: #af4116;
  --color-Light_primary: #db3e0096;
  --color-Dark_primary: #000000;
  --color-Dark_primary2: #381305; */

  
  /* Jakarta Sans Mappings */
  --font-jakarta-bold: var(--font-jakarta-bold);
  --font-jakarta-bold-italic: var(--font-jakarta-italic); 
  --font-jakarta-Extrabold: var(--font-jakarta-extrabold);
  --font-jakarta-ExtraLight: var(--font-jakarta-Regular); 
  --font-jakarta-medium: var(--font-jakarta-medium);
  --font-jakarta-medium-italic: var(--font-jakarta-medium);
  --font-jakarta-Regular: var(--font-jakarta-Regular);
  --font-jakarta-Semibold: var(--font-jakarta-semibold);

  /* Yanone Kaffeesatz Mappings */
  --font-Yanone-Semibold: var(--font-yanone-semibold);
  --font-Yanone-medium: var(--font-yanone-medium);
  --font-Yanone-Regular: var(--font-yanone-regular);
}